.login-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c5e3e3;
}

.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px 0;
    background-color: #9cb4bc;
}

.form > input, .form>button{
    width: 60%;
    padding: 10px;
    margin: 20px;
    font-size: 1rem;
    border-radius: 5px;
}

.form > input:focus{
    outline: none;
}

.red-border{
    border: 2px solid red;
}

.green-border{
    border: 2px solid green;
}

.login-container > p, .register-container>p{
    font-weight: bold;
}

.login-container > p > a, .register-container>p > a{
    color: skyblue;
    font-weight: bold;
}
